/* tutor-register.component.css */

/* Importando a fonte Inter */
body {
  font-family: 'Inter', sans-serif;
}

.tutor-register {
  max-width: 700px;
  margin: 40px auto; /* Adiciona margem superior e inferior */
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;

}


.form-group {
  flex: 1; /* Para que cada grupo de campos ocupe o mesmo espaço */
}

.form-outline {
  position: relative;
  margin-bottom: 20px;
}


.form-outline label {
  position: absolute;
  top: -20px; /* Move o rótulo para cima */
  left: 10px;
  color: black; /* Define a cor do rótulo como preto */
  font-weight: bold; /* Deixa o rótulo em negrito */
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); /* Adiciona um leve sombreamento para destacar o rótulo */
  font-weight: bold; /* Deixa o texto em negrito */
  transition: all 0.3s ease;
}

.form-outline input:focus + .form-label,
.form-outline input:not(:placeholder-shown) + .form-label,
.form-outline textarea:focus + .form-label,
.form-outline textarea:not(:placeholder-shown) + .form-label {
  top: -35px; /* Move o rótulo ainda mais para cima quando o input está focado ou preenchido */
  font-size: 12px;
  color: black;
  font-weight: bold; /* Deixa o texto em negrito */
}

.action-button:hover {
  background-color: #ddd;
 
}
.estilo-botao-menu{
  transition: all 0.3s cubic-bezier(0,1.74,.28,1.3);
  z-index: 0;
  background-color: black;
  color: white;
}
.estilo-botao-menu:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  background-color: black;
}

/* Estilo para o título fora do contêiner */

img{
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
.mt-10{
  margin-top: 15px;
}
.ma-10{
  margin: 10px;
}
.center-buttons {
  display: flex;
  justify-content: center;
}

.mr-5{
  margin-right: 5px;
}