<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Tutor</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap">
</head>

<body>
  <br>
  <h1>Editar Tutor </h1>

  <div class="tutor-update">

    <form class="form">
      <div class="form-row">

        <div class="form-group">

            <label for="usuario">Nome</label>
            <div class="form-outline" data-mdb-input-init>
              <input type="text" id="usuario" class="form-control" name="nome" [(ngModel)]="tutor.nome"  placeholder="Digite seu nome" />
            </div>
        </div>

        <div class="form-group">
          <label for="contact">Contato</label>
          <div class="form-outline" data-mdb-input-init>
            <input type="text" id="contact" class="form-control"[(ngModel)]="tutor.contato" placeholder="Digite seu contato" />
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="address">Endereço</label>
          <div class="form-outline" data-mdb-input-init>
            <input type="text" id="address" class="form-control" [(ngModel)]="tutor.endereco" placeholder="Digite seu endereço" />
          </div>
        </div>
        <div class="form-group">
          <label for="age">Idade</label>
          <div class="form-outline" data-mdb-input-init>
            <input type="number" id="age" class="form-control"[(ngModel)]="tutor.idade" placeholder="Digite sua idade" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="observation">Observações/Descrição</label>
        <div class="form-outline" data-mdb-input-init>
          <textarea id="observation" class="form-control" rows="4"  placeholder="Digite suas observações ou descrição"></textarea>
        </div>
      </div>

    </form>

  </div>

  <div class="btn-container">
    <button type="button" class="btn btn-dark btn-rounded" mdbRipple (click)="save()">
      Salvar
    </button>
    <button type="button" class="btn btn-dark btn-rounded" mdbRipple (click)="voltar()">
      Voltar</button>
    
  </div>

</body>
<img alt="logo" src="../../../assets/cachorro.png" width="15%" />

</html>
