<div>
  <br>
  <h1 class = "text-center ma-10 m-5">Editar Tutor </h1>

  <div class="tutor-register">

    <div>
      <div>
        <div>
          <label for="name">Nome</label>
          
          <input type="text" id="name" class="form-control" [(ngModel)]="tutor.nome" placeholder="Digite seu nome" />
          
        </div>
        <div>
          <label for="contact">Contato</label>
          
          <input type="text" id="contact" class="form-control" [(ngModel)]="tutor.contato" placeholder="Digite seu contato" />
          
        </div>
      </div>
      <div>
        <label for="contact">CPF</label>
        
        <input type="text" id="number" class="form-control" [(ngModel)]="tutor.cpf" placeholder="Digite seu CPF" />
        
      </div>
    </div>

      <div>
        <div>
          <label for="address">Endereço</label>
          <input type="text" id="address" class="form-control" [(ngModel)]="tutor.endereco" placeholder="Digite seu endereço" />
        </div>
        <div>
            <label for="age">Idade</label>
            <input type="number" id="age" class="form-control" [(ngModel)]="tutor.idade" placeholder="Digite sua idade" />
        </div>
      </div>

    </div>

      
    </div>
    <div class="col-12 center-buttons">
      <button type="button" class="btn btn-light m-1 estilo-botao-menu" mdbRipple (click)="save(tutor)">
        Salvar
      </button>
      <button type="button" class="btn btn-light m-1 estilo-botao-menu" mdbRipple (click)="voltar()"><i class="fas fa-arrow-left mr-5"></i>Voltar</button>
        
  
  </div>
  <img alt="logo" src="../../../assets/cachorro.png" width="15%"/>

