<p>cachorrolist works!</p>
<div class="container">
    <table>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Porte</th>
            <th>Raca</th>
            <th>Ações</th>
        </tr>
        for(let cachorro of cachorros; let i = index){
            <tr>
                <td>{{ cachorro.nome }}</td>
                <td>{{ cachorro.idadeAproximada }}</td>
                <td>{{ cachorro.porte }}</td>
                <td>{{ cachorro.raca }}</td>
                <td>
                    <button class="btn btn-primary">Atualizar</button>
                    <button class="btn btn-danger">Excluir</button>
                </td>
            </tr>
        }

    </table>
</div>