<br>
<h1>Lista de Cachorros</h1>
<div class="cachorro-list-container">
  <div class="direita">
  <button type="button" class="btn btn-primary btn-dark estilo-botao-menu m-2" mdbRipple (click)="router.navigate(['home/cachorro/register'])">
    Novo</button>
  </div>
    <br>
    <table class="cachorro-list-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Raca</th>
          <th>Porte</th>
          <th>Idade</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>

        @for (cachorro of cachorros; track $index) {
        <tr>
          <td>{{ cachorro.nome }}</td>
          <td>{{ cachorro.raca }}</td>
          <td>{{ cachorro.porte }}</td>
          <td>{{ cachorro.idadeAproximada }}</td>
          <td>{{ cachorro.dataDaCriacao}}</td>
          <td class="direita">
            <button type="button" class="btn btn-primary btn-dark estilo-botao-menu m-2" mdbRipple (click)="update(cachorro)">
              Editar</button>
            @if(ehResponsavel){
              <button type="button" class="btn btn-primary btn-dark estilo-botao-menu m-2" mdbRipple (click)="delete(cachorro)">
                Deletar</button>
            }
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>

 
 
  
  