<br>
<h1 class = "text-center ma-10 m-5">Lista de Tutores</h1>
<div class="tutor-list-container">
  <div class="direita">
  <button type="button" class="btn btn-light m-1 estilo-botao-menu hover-excluir " mdbRipple (click)="router.navigate(['home/tutors/new'])">
    <i class="fas fa-user-plus mr-5"></i>Novo Tutor
  </button>
  </div>
  
    <br>
    <table class="tutor-list-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Contato</th>
          <th>Cpf</th>
          <th>Endereço</th>
          <th>Idade</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>

        @for (tutor of listas; track $index) {
        <tr class="tutor-list">
          <td>{{ tutor.nome }}</td>
          <td>{{ tutor.contato }}</td>
          <td>{{ tutor.cpf }}</td>
          <td>{{ tutor.endereco }}</td>
          <td>{{ tutor.idade }}</td>
          <td class="direita">
            <button type="button" class="btn btn-light m-1 estilo-botao-menu " mdbRipple (click)="editar(tutor.id)">
              Editar</button>
              <button type="button" class="btn btn-light m-1 estilo-botao-menu hover-excluir" mdbRipple (click)="deleteById(tutor)">
                Deletar</button>
              
            
          </td>
        </tr>
      
      }
      </tbody>
    </table>
  </div>
  <img alt="logo" src="../../../assets/cachorro.png" width="15%"/>

 
 
  
  