<div class="sidenav">
    <a href="cachorro">Lista de Cachorros</a>
    <a href="requerimentolist">Lista de Requerimentos</a>
    <a href="tutors">Lista de Tutores</a>
  </div>
  <div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="w-50">
      <h1 class="font-style text-center mb-6"><b>Alteração de Cadastro</b></h1>
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-lg-4">
            <div>
              <img alt="logo" src="../../../assets/cachorro.png" width="100%" />
            </div>
            <form (ngSubmit)="onSubmit()" class="form">
              <div class="form-group">
                <label for="Nome">Nome</label>
                <div class="form-outline" data-mdb-input-init>
                  <input type="text" id="name" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label for="Raça">Raça</label>
                <div class="form-outline" data-mdb-input-init>
                  <input type="text" id="contact" class="form-control" />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label for="Porte">Porte</label>
                  <div class="form-outline" data-mdb-input-init>
                    <input type="text" id="address" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="Idade">Idade</label>
                  <div class="form-outline" data-mdb-input-init>
                    <input type="number" id="age" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="DataAdocao">Data de Adoção</label>
                <input type="date" id="dataAdocao" class="form-control" name="DataAdocao">
              </div>
              <div class="form-group">
                <label for="observacao">Observações/Descrição</label>
                <div class="form-outline" data-mdb-input-init>
                  <textarea id="observation" class="form-control" rows="4"></textarea>
                </div>
              </div>
  
              <div class="btn-container space-buttons">
                <button class="btn btn-primary bg-dark me-1" type="submit">Atualizar</button>
                <button class="btn btn-primary bg-dark" type="button" (click)="onCancel()">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>  
  </div>