.border-1{
    border: 1px solid black;
}
.mt-10{
    margin-top: 10px;
}
.ma-10{
    margin: 10px;
}
.estilo-texto-nao-encontrado{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:rgb(202, 202, 202);
}