<div class="container-lista-requerimentos">
  <h3 class="text-center ma-10 m-5">Requerimentos</h3>

  <div class="block d-flex justify-content-end align-items-center row">
    <div class="col-1 text-center">ID</div>
    <div class="col-3">Nome</div>
    <div class="col-3">Contato</div>
    <div class="col-2">Data</div>
    <div class="col-3">
      @if(ehResponsavel){
        <button
          type="button"
          class="btn btn-primary btn-dark estilo-botao-menu m-2"
          (click)="router.navigate(['home/requerimentos/novo'])"
        ><i class="fas fa-plus mr-5"></i>
          Novo Requerimento
        </button>
      }
    </div>
  </div>
  <mdb-accordion>
    @for(requerimento of requerimentos; track requerimento.id){
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>
        <div class="row w-100 d-flex align-items-center">
          <div class="col-1">
            {{ requerimento.id }}
          </div>
          <div class="col-3">
            {{ primeiraLetraMaiuscula(requerimento.autorDoRequerimento.nome) }}
          </div>
          <div class="col-3">
            {{ requerimento.autorDoRequerimento.contato }}
          </div>
          <div class="col-5">
            {{ requerimento.dataDoRequerimento }}
          </div>
        </div>
      </ng-template>
      <ng-template mdbAccordionItemBody>
        <table class="w-100">
          <thead>
            <tr class="row">
              <th class="col-1">Id</th>
              <th class="col-3">Nome</th>
              <th class="col-2">Porte</th>
              <th class="col-3">Raca</th>
              <th class="col-3">Idade (anos)</th>
            </tr>
          </thead>
          <tbody>
            @for(cachorro of requerimento.caesRequeridos; track cachorro.id){
            <tr class="row">
              <td class="col-1">{{ cachorro.id }}</td>
              <td class="col-3">{{ primeiraLetraMaiuscula(cachorro.nome) }}</td>
              <td class="col-2">{{ primeiraLetraMaiuscula(cachorro.porte) }}</td>
              <td class="col-3">{{ primeiraLetraMaiuscula(cachorro.raca) }}</td>
              <td class="col-1">{{ cachorro.idadeAproximada }}</td>
            </tr>
            } @empty{
            <tr>
              <td colspan="5" class="text-center">
                Nenhum cachorro encontrado :/
              </td>
            </tr>
            }
          </tbody>
        </table>
        @if(ehResponsavel){
          <div class="col-12 d-flex justify-content-end">
            <button type="button" class="btn btn-light m-1 estilo-botao-menu"
              (click)="atualizarRequerimento(requerimento)">
              Atualizar
            </button>
            <button
              type="button"
              class="btn btn-light m-1 estilo-botao-menu hover-excluir"
              (click)="excluirRequerimento(requerimento)"
            >
              Excluir
            </button>
          </div>
        }
      </ng-template>
    </mdb-accordion-item>
    } @empty{
    <h3 class="text-center estilo-texto-nao-encontrado">
      Nenhum requerimento encontrado :/
    </h3>
    }
  </mdb-accordion>
</div>