.tela-principal{
    margin: 0;
    max-width: 100vw !important;
}

.menu-lateral{
    height: 100vh;
    // width: 15vw;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}

.estilo-fonte-titulo{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: white;
}

.menu-titulo{
    margin-top: 10px;
    height: 10%;
}

.fonte-branca{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.estilo-botao-menu{
    transition: all 0.3s cubic-bezier(0,1.74,.28,1.3);
    z-index: 0;
}
.estilo-botao-menu:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.hover-botao{
    &:hover{
        background-color: #f5f5f5;
        color: black;
    }
}   

.menu-rodape{
    height: 10%;
}

.accordion{
    background-color: #f5f5f5;
    color: white;
}

.estilo-botao-menu{
    text-align: left;
}

.mr-7{
    margin-right: 7px;
}

.estilo-osso-animado{
    position: fixed;
    top: 0vh;
    left: 0vw;
    color: #331304;
    animation: osso-rodando 1s forwards linear;
    z-index: 3;
}
@keyframes osso-rodando {
    0% {
        transform: rotate(310deg) scale(100);
        top: 100vh;
        left: 150vw;
    }
    100% {
        transform: rotate(0deg);
    }
}

.tela-fade{
    position: fixed;
    animation: tela-entrando 1.5s forwards linear;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
}

@keyframes tela-entrando {
    0% {
        width: 100vw;
        height: 100vh;
    }
    30% {
        width: 50vw;
        height: 100vh;
    }
    70% {
        height: 100vh;
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 0vw;
    }
}

.overflow-auto{
    overflow: auto;
}

.animacao-menu-lateral{
    animation: menu-lateral-entrando 0.5s forwards cubic-bezier(.67,-0.36,.24,1.62);
}

@keyframes menu-lateral-entrando {
    0% {
        width: 0vw;
    }
    100% {
        width: none;
    }
}

.animacao-botao-menu{
    animation: botao-menu-entrando 1s forwards cubic-bezier(.99,.99,.01,.01);
}

@keyframes botao-menu-entrando {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}