<div class="container-lista-requerimentos">
    <h3 class="text-center ma-10 m-5">Auditar tutores</h3>
  
    <div class="block d-flex align-items-center row">
      <div class="col-1 text-center text-10px">ID</div>
      <div class="col-2 text-10px text-center">Tutor</div>
      <div class="col-1 text-10px text-center">Criado por</div>
      <div class="col-1 text-10px text-center">Criação</div>
      <div class="col-2 text-10px text-center">Modificado por</div>
      <div class="col-1 text-10px text-center">Modificação</div>
      <div class="col-2 text-10px text-center"></div>
    </div>
    <mdb-accordion>
      @for(tutor of tutores; track tutor.id){
      <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>
          <div class="row w-100 d-flex align-items-center">
            <div class="col-1">
              {{ tutor.id }}
            </div>
            <div class="col-2 text-10px text-center">
              {{ primeiraLetraMaiuscula(tutor.nome) }}
            </div>
            <div class="col-1 text-10px text-center">
              {{ primeiraLetraMaiuscula(tutor.criadoPor) }}
            </div>
            <div class="col-1 text-10px text-center">
              {{ dataFormatada(tutor.dataDaCriacao) }}
            </div>
            <div class="col-2 text-10px text-center">
              {{ primeiraLetraMaiuscula(tutor.atualizadoPor) }}
            </div>
            <div class="col-1 text-10px text-center">
              {{ dataFormatada(tutor.dataDeAtualizacao) }}
            </div>
            <div class="col-2 text-10px text-center">{{tutor.desativadoPor}}</div>
          </div>
        </ng-template>
        <ng-template mdbAccordionItemBody>
          <table class="w-100">
            <thead>
              <tr class="row">
                  <th class="col-2">CPF</th>
                  <th class="col-3">Contato</th>
                  <th class="col-1">Idade</th>
                  <th class="col-6">Endereço</th>
              </tr>
            </thead>
            <tbody>
              <tr class="row">
                <td class="col-2">{{ primeiraLetraMaiuscula(tutor.cpf) }}</td>
                <td class="col-3">{{ primeiraLetraMaiuscula(tutor.contato) }}</td>
                <td class="col-1">{{ tutor.idade }}</td>
                <td class="col-6">{{ tutor.endereco }}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </mdb-accordion-item>
      } @empty{
      <h3 class="text-center estilo-texto-nao-encontrado mt-5">
        Nenhum tutor encontrado :/
      </h3>
      }
    </mdb-accordion>
  </div>