<br>  
<h1>Tutor</h1>
<div class="tutor-datail-container">
  <br>
    
    <div class="tutor-info">
      <p><strong>Nome:</strong> João Silva</p>
      <p><strong>Contato:</strong></p>
      <p><strong>Endereço:</strong> Rua Exemplo, 123</p>
      <p><strong>Idade:</strong> 45</p>
    </div>
    
    <h3>Requerimentos</h3>
    <div class="requerimentos">
      <div class="requerimento">
        <p><strong>Nome:</strong> Cachorro Fido</p>
        <p><strong>Raça:</strong> Labrador</p>
        <p><strong>Porte:</strong> Grande</p>
        <p><strong>Idade:</strong> 2 anos</p>
        <p><strong>Data da Adoção:</strong> 2024-05-20</p>
      </div>
    </div>
  
    <button type="button" class="btn btn-dark" mdbRipple routerLink="/tutors/">
      Voltar</button>
    
  </div>
  