<div class="container m-0 w-100">
    <div class="h-100 w-100 d-flex align-items-center justify-content-center">  
      <div class="centralizar topo d-flex flex-column align-items-center justify-content-center">
        <div class="background-principal">
            <h3 class="text-center font-style">Auditoria</h3>
        </div>
        
        <div class="cards-container">

          <div class="row row-cols-2 g-3">

            <div class="col-12">
              <div class="card estilo-botao-menu-principal" (click)="router.navigate(['home/auditoria/requerimentos-list'])">
                <div class="card-body">
                  <div class="text-center">
                    <h5 class="card-title">Requerimentos</h5>
                    <i class="fas fa-bone fa-2x animacao-do-icone"></i>
                  </div>
                </div>
              </div>
            </div>


            <div>
              <div class="card estilo-botao-menu-principal" (click)="router.navigate(['home/auditoria/cachorros-list'])">
                <div class="card-body">
                  <div class="text-center">
                    <h5 class="card-title">Cachorros</h5>
                    <i class="fas fa-paw fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
  
              <div>
                <div class="card estilo-botao-menu-principal" (click)="router.navigate(['home/auditoria/tutores-list'])">
                  <div class="card-body">
                    <div class="text-center">
                      <h5 class="card-title">Tutores</h5>
                      <i class="fas fa-user fa-2x"></i>
                    </div>
                  </div>
                </div>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>