body {
  font-family: 'Inter', sans-serif;
}

.cachorro-register {
  max-width: 700px;
  margin: 50px auto; 
  padding: 20px;
  border: 1px solid black;
  font-weight: bold; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; 

}

.cachorro-register form {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 10px; 
}

.form-group {
  flex: 1; 
}

.form-outline {
  position: relative;
  margin-bottom: 20px;
}

.form-outline input,
.form-outline textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black; 
}

.form-outline label {
  position: absolute;
  top: -20px; 
  left: 10px;
  color: black; 
  font-weight: bold; 
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold; 
  transition: all 0.3s ease;
}

.form-outline input:focus + .form-label,
.form-outline input:not(:placeholder-shown) + .form-label,
.form-outline textarea:focus + .form-label,
.form-outline textarea:not(:placeholder-shown) + .form-label {
  top: -35px; 
  font-size: 12px;
  color: black;
  font-weight: bold; 
}

.btn-container {
  margin-top: auto; 
  
  justify-content: flex-start; 
  text-align: center;
}

.btn {
  margin-right: 20px; 
  background-color: black; 
  color: white; 
  text-align: center;
}


h1 {
  font-size: 51px;
  color: black;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}
