body {
  font-family: 'Inter', sans-serif;
}

.cachorro-register {
  max-width: 700px;
  margin: 50px auto; 
  padding: 20px;
  border: 1px solid black;
  font-weight: bold; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; 

}

.cachorro-register form {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
}

.form-outline {
  position: relative;
  margin-bottom: 20px;
}

.form-outline input,
.form-outline textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black; 
}

.form-outline label {
  position: absolute;
  top: -20px; 
  left: 10px;
  color: black; 
  font-weight: bold; 
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold; 
  transition: all 0.3s ease;
}

.btn-container {
  margin-top: 20px; 
  
  justify-content: flex-start; 
  text-align: center;
}

font-style.font-style{
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 3em;
}
