
<div>
  <br>
  <h1>Registro de Cachorro </h1>

  <div class="cachorro-register">

    <div  class="form">
      <div class="form-row">
        <div class="form-group">
          <label for="name">Nome</label>
          <div class="form-outline">
            <input type="text" id="name" class="form-control" [(ngModel)]="cachorro.nome" placeholder="Digite o nome" />
          </div>
        </div>
        <div class="form-group">
          <label for="raca">Raca</label>
          <div class="form-outline">
            <input type="text" id="raca" class="form-control" [(ngModel)]="cachorro.raca" placeholder="Digite a Raça" />
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="porte">Porte</label>
          <div class="form-outline">
            <select id="porte" name="porte" [(ngModel)]="cachorro.porte">
              <option>Pequeno</option>
              <option>Medio</option>
              <option>Grande</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="age">Idade aproximada</label>
          <div class="form-outline">
            <input type="number" id="idadeAproximada" class="form-control" [(ngModel)]="cachorro.idadeAproximada" placeholder="Digite a idade" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="observation">Observações/Descrição</label>
        <div class="form-outline">
          <textarea id="descricao" class="form-control" rows="4" placeholder="Digite suas observações ou descrição" [(ngModel)]="cachorro.descricao"></textarea>
        </div>
      </div>

    </div>
  </div>
  
  <div class="btn-container">
    <button type="button" class="btn btn-primary btn-rounded" (click)="save()">
      Salvar
    </button>
    
  </div>

</div>
