<div class="container">
    <div class="row h-100 d-flex align-items-center">
      <div class="col-lg-4"></div>
  
      <div class="col-lg-4 centralizar topo">
        <h3 class="text-center font-style">Gestor Pet</h3>
        <div>
          <img alt="logo" src="../../../assets/cachorro.png" width="100%" />
        </div>
        <div class="card">
          <div class="card-body">
            <h4>Registrar</h4>
            <mdb-form-control>
              <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="nome" />
              <label mdbLabel class="form-label" for="usuario">Usuário</label>
            </mdb-form-control>
            <br />
            <mdb-form-control>
              <input mdbInput type="password" id="senha" class="form-control" [(ngModel)]="senha" />
              <label mdbLabel class="form-label" for="senha">Senha:</label>
            </mdb-form-control>
            <br />
            <mdb-form-control>
                <input mdbInput type="password" id="confirmacao-de-senha" class="form-control" [(ngModel)]="confirmacaoDeSenha" />
                <label mdbLabel class="form-label" for="confirmacao-de-senha">Confirme a senha:</label>
            </mdb-form-control>
            <br/>
            <!-- Abaixo ficara um botao preto quadrado-->
            <button type="button" class="btn btn-primary btn-block bg-dark estilo-botao-menu" mdbRipple (click)="registrar()">
              Registrar
            </button>
          </div>
        </div>
        <div class="container-btn-voltar">
            <button type="button" (click)="router.navigate(['/login'])" class="btn btn-primary btn-block btn-secondary btn-light estilo-botao-menu" mdbRipple>Voltar</button>
        </div>
      </div>
  
      <div class="col-lg-4"></div>
    </div>
  </div>